//- default container
doctype html
html(lang='en')

  head
  
    include head

  body
    
    include nav

    #main-content.container
      block container
        p hello world
    
    block body-end
