//- default page header
meta(charset='utf-8')
title!= title
block head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/d3.js')
  script(type='text/javascript', src='/d3kit.js')
  link(href='/font-awesome.css',rel='stylesheet')
