extends container
block append head
  link(href='/css/index.css',rel='stylesheet')

block container

  h1 GoKart Timer
    small#status
  i.fa.fa-clock-o
    span#time
  i.fa.fa-forward
    span#speed
  i.fa.fa-share-alt
    span#satellites
  i.fa.fa-location-arrow
    span#track
  i.fa.fa-crosshairs
    span#hdop
  i#cache
  i.fa.fa-history
    span#history
  #gps
  i.fa.fa-arrows-h
    span#distance
  i.fa.fa-binoculars
    input#zoom(type='range',min='10000',max='5000000',value='2000000')
    span#zoomvalue
  
  #console
  
block append body-end
  script(type='text/javascript', src='/js/index.js')
