extends container
block append head
  style(src='/css/index.css')

block container

  h1 GoKart Timer
  #time
  #speed
  #satellites
  #track
  #gps
  #console
  
block append body-end
  script(type='text/javascript').
    console.log('testing...');
    d3.select('#main-content')
    .append('div')
    .attr('id', 'd3')
    .html('<span class="glyphicon glyphicon-ok" style="color:green">d3</span>');

  script(type='text/javascript', src='/js/index.js')
