//- Static navbar
  .container
    .navbar
      ul
        each p in pages
            //- highlight current page
            li(class= p.href == path ? "active" : "")  
              a(href=p.href)
                =p.title
